@model icbf_web.Models.Jardin

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Jardín</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreJardin" class="control-label"></label>
                <input asp-for="NombreJardin" class="form-control" />
                <span asp-validation-for="NombreJardin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionJardin" class="control-label"></label>
                <input asp-for="DireccionJardin" class="form-control" />
                <span asp-validation-for="DireccionJardin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoJardin" class="control-label"></label>
                <select asp-for="EstadoJardin" class="form-control" asp-items="ViewBag.EstadoJardin"></select>
                <span asp-validation-for="EstadoJardin" class="text-danger"></span>
            </div>
            </br>
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 text-center">
                    <input type="submit" value="Crear" class="btn btn-primary mr-5" />
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
