@model icbf_web.Models.RegistroAsistencia

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Registro de Asistencia</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form id="registroForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" type="date" id="FechaRegistro" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                <span id="fechaError" class="text-danger"></span> <!-- Span para mostrar el mensaje de error -->
            </div>
            <div class="form-group">
                <label asp-for="EstadoNinoRegistro" class="control-label"></label>
                <select asp-for="EstadoNinoRegistro" class="form-control" asp-items="ViewBag.EstadoNinoRegistro"></select>
                <span asp-validation-for="EstadoNinoRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NinoId" class="control-label"></label>
                <select asp-for="NinoId" class="form-control" asp-items="ViewBag.Ninos">
                    <option value="">Seleccione un niño</option>
                </select>
                <span asp-validation-for="NinoId" class="text-danger"></span>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 text-center">
                    <input type="submit" value="Crear" class="btn btn-primary mr-5" />
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
    <script>
        $(document).ready(function () {
            $('#registroForm').submit(function (e) {
                var selectedDate = new Date($('#FechaRegistro').val());
                var today = new Date();
                today.setHours(0, 0, 0, 0);

                if (selectedDate > today) {
                    $('#fechaError').text("La fecha seleccionada no puede ser mayor a la fecha actual.");
                    e.preventDefault(); // Previene que el formulario sea enviado
                } else {
                    $('#fechaError').text(""); // Limpia el mensaje de error si la fecha es válida
                }
            });
        });
    </script>
}