@model icbf_web.Models.RegistroAsistencia

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar registro de asistencia</h1>

<h3>¿Está seguro que desea eliminar este registro de asistencia?</h3>
<hr />
<div class="container">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EstadoNinoRegistro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EstadoNinoRegistro)
        </dd>
    </dl>
    <div class="text-center mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdRegistroAsistencia" />
            <button type="submit" class="btn btn-danger">Eliminar</button> |
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
