@model icbf_web.Models.RegistroAsistencia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del registro de asistencia</h1>
<hr />
<div class="container">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EstadoNinoRegistro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EstadoNinoRegistro)
        </dd>
    </dl>
</div>
<div>
    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.IdRegistroAsistencia" class="btn btn-primary">Editar</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
