@model CreateUsuarioViewModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            function adjustColumns(selectedRole) {
                if (selectedRole === "madre") {
                    $("#rolCol, #fechaNacCol").removeClass("col-md-6").addClass("col-md-4");
                } else {
                    $("#rolCol, #fechaNacCol").removeClass("col-md-4").addClass("col-md-6");
                }
            }

            $("#rol").change(function () {
                var selectedRole = $(this).val();
                if (selectedRole === "49232564-b506-4675-bb5d-731c1e8c05f6" || selectedRole === "madre") {
                    $("#jardin").show();
                    $("label[for='jardin']").show();
                } else {
                    $("#jardin").hide();
                    $("label[for='jardin']").hide();
                }
                adjustColumns(selectedRole);
            });

            // Trigger change event on page load to ensure correct initial state
            $("#rol").change();

            $("#FecNacVal").on("change", function () {
                console.log("El campo Fecha de Nacimiento ha cambiado.");
                var now = new Date();
                var birthdate = new Date($(this).val());
                var nowYear = now.getFullYear();
                var birthYear = birthdate.getFullYear();
                var age = nowYear - birthYear;

                // Ajustamos la edad si el cumpleaños aún no ha ocurrido este año
                var m = now.getMonth() - birthdate.getMonth();
                if (m < 0 || (m === 0 && now.getDate() < birthdate.getDate())) {
                    age--;
                }

                console.log("Edad calculada:", age);

                // Validamos el rango de edad (18 años)
                if (age < 18) {
                    $('#validacionRangoEdad').text('Debe tener 18 años o más');
                    console.log("La edad no está en el rango permitido.");
                } else {
                    $('#validacionRangoEdad').text('');
                    console.log("La edad está en el rango permitido.");
                }
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    
<h1>@ViewData["Title"]</h1>
<hr />
<div class=row justify-content-center">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Cedula" class="control-label"></label>
                        <input asp-for="Cedula" class="form-control" />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Role" class="control-label">Role</label>
                        <select asp-for="Role" class="form-control" id="rol">
                            <option value="acudiente">Acudiente</option>
                            <option value="madre">Madre Comunitaria</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="jardin" class="control-label">Jardin</label>
                        <select asp-for="IdJardin" id="jardin" class="form-control" asp-items="ViewBag.Jardines"></select>
                        <span asp-validation-for="IdJardin" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FechaNacimiento" class="control-label"></label>
                        <input asp-for="FechaNacimiento" class="form-control" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 text-center">
                    <input type="submit" value="Crear" class="btn btn-primary mr-5" />
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
