@model icbf_web.Models.EditUsuarioViewModel

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<form asp-controller="Usuarios" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Hidden field for Id -->
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Nombres" class="control-label"></label>
        <input asp-for="Nombres" class="form-control" />
        <span asp-validation-for="Nombres" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Direccion" class="control-label"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>



    <div class="form-group">
        <label asp-for="Estado" class="control-label"></label>
        <select asp-for="Estado" class="form-control">
            <option value="true">Habilitado</option>
            <option value="false">Deshabilitado</option>
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="acudiente" >Acudiente</option>
                    <option value="madre" >Madre</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<div>
    <a asp-action="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
