@model icbf_web.Models.Nino

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreNino" class="control-label"></label>
                <input asp-for="NombreNino" class="form-control" />
                <span asp-validation-for="NombreNino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoNino" class="control-label"></label>
                <input asp-for="FechaNacimientoNino" class="form-control" />
                <span asp-validation-for="FechaNacimientoNino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoSangreNino" class="control-label"></label>
                <input asp-for="TipoSangreNino" class="form-control" />
                <span asp-validation-for="TipoSangreNino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CiudadNacimientoNino" class="control-label"></label>
                <input asp-for="CiudadNacimientoNino" class="form-control" />
                <span asp-validation-for="CiudadNacimientoNino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.Usuarios">
                    <option value="">Seleccione un acudiente</option>
                </select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoNino" class="control-label"></label>
                <input asp-for="TelefonoNino" class="form-control" />
                <span asp-validation-for="TelefonoNino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionNino" class="control-label"></label>
                <input asp-for="DireccionNino" class="form-control" />
                <span asp-validation-for="DireccionNino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpsNino" class="control-label"></label>
                <input asp-for="EpsNino" class="form-control" />
                <span asp-validation-for="EpsNino" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JardinId" class="control-label"></label>
                <select asp-for="JardinId" class="form-control" asp-items="ViewBag.Jardines">
                    <option value="">Seleccione un jardín</option>
                </select>
                <span asp-validation-for="JardinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
