@model icbf_web.Models.RegistroAvanceAcademico

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar registro academico</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NinoId" class="control-label"></label>
                        <select asp-for="NinoId" class="form-control" asp-items="ViewBag.Ninos">
                            <option value="">Seleccione un niño</option>
                        </select>
                        <span asp-validation-for="NinoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="AnioEscolarAvance" class="control-label"></label>
                        <input asp-for="AnioEscolarAvance" class="form-control" />
                        <span asp-validation-for="AnioEscolarAvance" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NivelAvance" class="control-label"></label>
                        <select asp-for="NivelAvance" class="form-control" asp-items="ViewBag.NivelAvance"></select>
                        <span asp-validation-for="NivelAvance" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NotaAvance" class="control-label"></label>
                        <select asp-for="NotaAvance" class="form-control" asp-items="ViewBag.NotaAvance"></select>
                        <span asp-validation-for="NotaAvance" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DescripcionAvance" class="control-label"></label>
                        <input asp-for="DescripcionAvance" class="form-control" />
                        <span asp-validation-for="DescripcionAvance" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FechaEntregaAvance" class="control-label"></label>
                        <input asp-for="FechaEntregaAvance" class="form-control" type="date" />
                        <span asp-validation-for="FechaEntregaAvance" class="text-danger"></span>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-md-6 text-center">
                        <input type="submit" value="Crear" class="btn btn-primary mr-5" />
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
